@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: #FF0000;
}

.bg-nav {
    background: rgba(165, 165, 165, 0.285);
    transition: 0.5s ease;
}

.bg-nav.scrolled {
    background: #ffffff;
}

.nav-link.scrolled {
    color: black !important;
}

.btn-primary {
    background-color: #ff0000;
    border: none;
    padding: .6em 3em .6em 3em;
    border-radius: .6em;
    font-weight: 600;
}

.btn-danger {
    background-color: #ff0000;
    border: none;
    padding: .6em 3em .6em 3em;
    border-radius: .6em;
    font-weight: 600;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #cc0000;
    border-color: #bf0000;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5);
}

.btn-primary:link {
    background-color: #bd0000;
    border: none;
    padding: .6em 3em .6em 3em;
    border-radius: .6em;
    font-weight: 600;
}

.btn-secondary {
    background-color: #696969;
    border: none;
    padding: .6em 3em .6em 3em;
    border-radius: .6em;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #ff0000;
}

/* Fondos */
.bg-w {
    background-color: #ffffff;
}

.bg-cc {
    background-color: #F5ED00;
}

.bg-cc_master {
    background-image: url(/img/amarillo-bco.png);
    background-size: cover;
    background-position: center;
}

.inicio {
    background-image: url(/img/domen/principal.jpg);
    background-size: cover;
    background-position: center;
    min-height: 498px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-1 {
    background-image: url(/img/head-2.png);
    background-size: cover;
    background-position: center;
    min-height: 498px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-2 {
    background-image: url(/img/domen/header-ccm.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 498px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fin fondos */

.inicio__titular {
    color: #fff;
}

.inicio__titular h1 {
    text-transform: uppercase;
    font-weight: 600;
}

.tipos-de-desarrollos {
    padding: 3em 1em 3em 1em;
}

.tipos-de-desarrollos__titular {
    padding-bottom: 2em;
    text-transform: uppercase;
}

.tipos-de-desarrollos__titular h5 {
    color: #ff0000;
}

.tipos-de-desarrollos__titular h3 {
    font-weight: 700;
}

.desarrollos__merida {
    padding: 3em;
    text-align: justify;
}

.desarrollos__descripcion h3 {
    font-weight: 700;
}

.certeza {
    padding: 3em 2em 3em 2em;
}

.certeza__titular h5 {
    color: #00A126;
    text-transform: uppercase;
}

.certeza__titular h3 {
    text-transform: uppercase;
    font-weight: 700;
}

.amenidades__opciones h5 {
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
}

.amenidades__opciones p {
    font-size: .9em;
}

.mapa-desarrollo__master {
    padding: 3em;
}

.recorrido {
    height: 30em;
}

footer {
    background-color: #1E1E1E;
    padding: 3em;
    color: #fff;
}

footer h3 {
    font-weight: 700;
}

footer p {
    font-weight: 300;
    padding-bottom: 1em;
}

footer strong {
    font-weight: 600;
}

.redes:visited {
    color: #ffff;
}

#18 {
    display:none;
}
