* {
    font-family: 'Raleway';
}
.vandu-bold {
    font-weight: 700;
}
.vandu-semibold {
    font-weight: 600;
}

.bg__header h1 {
    font-size: 4em;
    color: #fff;
}
.bg__header p {
    color: #fff;
} @media (max-width:1000px) {
    .bg__header {
        padding-bottom: 2em;
    }
    .bg__header-top {
        text-align: center;
    } 
    .bg__header h1 {
        font-size: 4em;
    }
    .uno-o {
        order: 2;
    }
    .dos-o {
        order: 1;
    }
} @media (max-width:900px) {
    .bg__header h1 {
        font-size: 2.5em;
    }
}
.bg__header-top {
    padding-top: 5em;
}

.bg-dark {
    background-color: transparent !important;
    transition: 0.5s ease;
} @media (max-width: 500px) {
    .bg-dark {
        background-color: rgb(15, 36, 90) !important;
        
    }
}
.bg-dark.scrolled {
    background: rgb(15, 36, 90) !important;
} 

.btn-secondary {
    background-color: #FE0000 !important;
    border: none;
    padding: .7em 1em;
    border-radius: .8em;
}

.btn-secondary:hover {
    background-color: #FF8B03 !important;
    border: none;
}

.btn-primary {
    background-color: #FF8B03 !important;
    border: none;
}

.btn-primary:hover {
    background-color: #FE0000 !important;
    border: none;
}

.intro {
    padding-top: 260px;
    color: #ffffff;
} 

.agencia {
    font-size: 50px;
} @media (max-width: 1024px) {
    .agencia {
        font-size: 40px;
    }
}
@media (max-width: 500px) {
    .agencia, .intro {
        font-size: 26px;
        text-align: center;
        order: 2;
        padding-top: 10px;
    }
}

@media (max-width: 500px) {
    .manito-vic {
        
        order: 1;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .boton {
        margin-bottom: 70px;
    }
}
.p-agencia {
    font-size: 16px;
}
.bg__header {
    background: #0F245A;
    min-height: 560px;
    
}

.por-que {
    padding-top: 130px;
    padding-right: 120px;
    text-align: justify;
}
.onboard {
    letter-spacing: 0.2em;
    font-weight: 300;
    font-size: 1em;
} @media (max-width: 1024px) {
    .titular {
        text-align: left;
        padding-top: 0px;
    }
} @media (max-width: 500px) {
    .onboard, .por-que {
        text-align: center;
        padding-right: 0;
        padding-top: 20px;
    }
} @media (max-width: 500px) {
    .titular {
        font-size: 40px;
        text-align: center;
    }
} @media (max-width: 500px) {
    .descripcion {
        font-size: 18px;
    }
}
.naranja {
    color: #FF8B03;
}


/**/

#on-boarding h2{
    padding-top: 30px;
    font-weight: 700;
    font-size: 45px;
} @media (max-width:380px) {
    #on-boarding h2 {
        padding-top: 0;
        font-size: 35px;
    }
}

#on-boarding h2 .orange {
    color: #FF8B03;
}

#on-boarding p {
    color: gray;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
} @media (max-width:600px) {
    #on-boarding p {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.unox {
    padding-top: 50px;
}

.txt-1 h1 {
    font-weight: 700;
    
}

.txt-1 p {
    color: #979797;
   
}

.line {
    width: 1px;
    background-color: #FE0000; 
    height: 5px;
    width: 60px;    
}

.titular-i {
    font-weight: 700;
    color: #404040;
}

.soluciones p {
    font-size: 12px;
}
/**/


.equipo-de-tres {
    text-align: center;
}  @media (max-width: 1024px) {
    .equipo-de-tres {
        text-align: left;
        padding-top: 50px;
    }
}

/*****/

#reviews {
    padding-top: 30px;
}
#reviews-2 {
    padding-top: 4em;
    padding-bottom: 3em;
}

.review {
    padding-top: 10px;
    text-transform: uppercase;
    color: #FF8B03;
    font-size: 2.5em;
}
.review-2 {
    padding-top: 10px;
    text-transform: uppercase;
    color: #0F245A;
    font-size: 2.5em;
}

.p-review {
    font-weight: 300;
} 

/*****/



.comofunciona {
    text-align: center;
}

.onboard-3 {
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1em;
    padding-top: 30px;
}

.como-funciona-titulo {
    text-transform: uppercase;
    padding-bottom: 30px;
}



.card {
    background-color: #FDFDFD !important;
    border: none;
   
}

.imagen-manito {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    
}

.pasos {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.1em;
    font-size: 15px;
    padding-top: 20px;

}

.paso-titulo {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    color: #FF8B03;
}

.p-pasos {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;

}


/***/


.onboard-2 {
    letter-spacing: 0.2em;
    font-weight: 300;
    font-size: 1em;
    padding-left: 85px;
} @media (max-width: 500px) {
    .onboard-2, .titular-2 {
        padding-left: 20px;
    }
}

.por-que-2 {
    padding-top: 130px;
    padding-right: 120px;
    text-align: justify;
} @media (max-width: 1024px){
    .por-que-2 {
        text-align: left;
    }
} @media (max-width: 500px){
    .por-que-2 {
        text-align: left;
        padding-top: 30px;
        padding-right: 0px;
        order: 2;
    }
}

.titular-2 {
    text-transform: uppercase;
    padding-left: 85px;
} @media (max-width: 500px) {
    .titular-2 {
        padding-left: 20px;
        
    }
}

.vineta {
    padding-top: 20px;
    text-align: right;
} @media (max-width:800px) {
    .vineta {
        padding-top: 20px;
    }
}

.vineta-txt {
    padding-top: 15px;
    font-size: 1em;
} @media (max-width:800px) {
    .vineta-txt {
        font-size: .75em;
    }
}

.manito {
    padding-top: 90px;
} @media (max-width: 1024px){
    .manito{
        padding-top: 180px;
    }
} @media (max-width: 500px){
    .manito{
        padding-top: 40px;
    }
}

.review-sp {
    padding-bottom: 100px;
}
/**/

#footer-section {
    font-family: "Source Sans Pro";
}
#footer-section h1{
    color: white;
    font-size: 23px;
} @media (max-width: 500px) {
    #footer-section h1 {
        padding-top: 25px;
    }
}
#footer-section p{
    color: #FDFDFD;
    font-size: 15px;
    text-align: justify;
}

#footer-section i{
    color: #FDFDFD;
    font-size: 15px;
}

#footer-section i:hover{
    color: white;
    font-size: 15px;
}

.bgfooter {
    background: #0F245A;
}

.form-group {
    padding-bottom: 10px;
}

.copyright p:hover{
    color:none;
}

@keyframes movimiento {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
        
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes movimiento-1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
        
        
    }
   
    100% {
        transform: translateY(0px);
    }
   
}

@keyframes movimiento-2 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

